{{ define "certified" }}
<!-- Content Certificates Start -->
<div class="tiga justify-content-center align-items-center gap-5" id="certif">
      <div class="title text-center mb-5" data-aos="fade" data-aos-offset="0" data-aos-delay="300"
            data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="true">
            <h1>Competition and Certificate</h1>
      </div>
      <div class="row w-75 d-flex g-4 justify-content-center mx-auto">
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-right" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .bpkLogo }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Commemorate the
                                                74th Anniversary of BPK RI
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                as Participant HACKATHON BPK
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Badan
                                                Pemeriksa
                                                Keuangan Republik Indonesia
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-left" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .stmikLogo }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Lomba Digital Siswa Walikota Bekasi 2021
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                1st Place by Team 1 from SMKN 1 Kota Bekasi
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                STMIK BANI SALEH
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-right" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo1 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Memulai Pemrograman Dengan Python
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Complete the Course
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Dicoding Indonesia
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-left" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo1 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Belajar Dasar AWS Cloud
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Complete the Course
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Dicoding Indonesia
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-right" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo1 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Belajar Dasar Pemrograman Javascript
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Complete the Course
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Dicoding Indonesia
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-left" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo2 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Kursus HTML & CSS
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Fundamentals HTML & CSS
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Progate
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-right" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo2 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Kursus PHP
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Fundamentals PHP for Web Development
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Progate
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-left" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo2 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Kursus JavaScript
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Fundamentals JavaScript for Web Development
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Progate
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-right" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo2 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Kursus Python
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Fundamentals Python for Software Development
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Progate
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="card shadow bg-dark text-white p-4" data-aos="fade-left" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <div class="row d-flex justify-content-center align-items-center">
                              <div class="col-md-2">
                                    <img src="{{ .certifLogo2 }}" class="w-100" alt="certif">
                              </div>
                              <div class="col-md">
                                    <span>
                                          <h1 class="text-wrap card-title" style="font-size: 1.25rem;">
                                                Pelatihan Coding secara Daring
                                          </h1>
                                          <h2 class="text-wrap text-primary card-subtitle my-2"
                                                style="font-size: 1.1rem;">
                                                Completed all Course
                                          </h2>
                                          <h3 class="text-wrap text-secondary card-text my-2"
                                                style="font-size: 1.1rem;">
                                                Progate
                                          </h3>
                                    </span>
                                    <a href="" target=""
                                          class="btn btn-outline-light text-decoration-none mt-3 rounded-5 px-4">
                                          Show <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<!-- Content Certificates End -->
{{ end }}