{{ define "extras" }}
<!-- Content Extras Start -->
<div class="section d-flex justify-content-center align-items-center" id="extras">
      <div class="row w-50 justify-content-around align-items-center">
            <div class="text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="1000" data-aos-duration="1000"
                  data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="true">
                  <h1 class="h5 mb-3 fw-light">Extras</h1>
            </div>
            <div class="col-md">
                  <div class="card bg-dark mb-1" style="width: 250px;" data-aos="fade-down" data-aos-offset="0"
                        data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <img src="{{ .extras1 }}" class="card-img gallery-item" alt="">
                  </div>
                  <div class="card bg-dark mb-1" style="width: 250px;" data-aos="fade-down" data-aos-offset="0"
                        data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <img src="{{ .extras2 }}" class="card-img gallery-item" alt="">
                  </div>
            </div>
            <div class="col-md">
                  <div class="card bg-dark mb-1" style="width: 250px;" data-aos="fade-down" data-aos-offset="0"
                        data-aos-delay="400" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <img src="{{ .extras3 }}" class="card-img gallery-item" alt="">
                  </div>
                  <div class="card bg-dark mb-1" style="width: 250px;" data-aos="fade-down" data-aos-offset="0"
                        data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <img src="{{ .extras4 }}" class="card-img gallery-item" alt="">
                  </div>
            </div>
            <div class="col-md">
                  <div class="card bg-dark mb-1" style="width: 250px;" data-aos="fade-down" data-aos-offset="0"
                        data-aos-delay="600" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <img src="{{ .extras5 }}" class="card-img gallery-item" alt="">
                  </div>
                  <div class="card bg-dark mb-1" style="width: 250px;" data-aos="fade-down" data-aos-offset="0"
                        data-aos-delay="700" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="true">
                        <img src="{{ .extras6 }}" class="card-img gallery-item" alt="">
                  </div>
            </div>
      </div>
</div>
<!-- Content Extras End -->
{{ end }}