{{ template "header" }}
<main>
      {{ template "navbar" }}

      <!-- Content End -->
      <div class="container-fluid bg-dark text-white">
            <!-- Content Intro Start -->
            <div class="section d-flex flex-column align-items-center" id="intro">
                  <div class="row w-75 gap-5 mb-5 justify-content-between align-items-center">
                        <div class="col-md-7">
                              <div class="text">
                                    <h1 data-aos="fade-down" data-aos-offset="0" data-aos-delay="100"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false" class="fw-bolder">
                                          AHMAD ZAKY HUMAMI
                                    </h1>
                                    <hr class="w-100 text-primary" data-aos="fade-left" data-aos-offset="0"
                                          data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out"
                                          data-aos-mirror="true" data-aos-once="false">
                                    <p data-aos="fade" data-aos-offset="0" data-aos-delay="500" data-aos-duration="1000"
                                          data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                          <span class=" text-secondary lh-lg my-3" style="font-size: 1.29rem;">
                                                Saya adalah Web Developer yang berorientasi pada hasil dengan
                                                pengalaman lebih dari 3 tahun. Mahir dalam berbagai bahasa
                                                program dan berpengalaman dalam pengembangan web full-stack
                                                dengan memanfaatkan teknologi baru untuk mendorong inovasi.
                                          </span>
                                    </p>
                              </div>
                        </div>
                        <div class="col-md d-flex justify-content-end">
                              <img src="/assets/image/profiles.jpg" class="glass rounded-circle" draggable="false"
                                    data-aos="fade-right" data-aos-offset="0" data-aos-delay="100"
                                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                    data-aos-once="false" alt="" height="400px">
                        </div>
                  </div>
                  <div class="row w-100 my-5 d-flex justify-content-center align-items-center">
                        <div class="col-md text-center">
                              <div class="text-secondary">
                                    <!-- Logo Laravel SVG -->
                                    <img src="/assets/image/visual-studio-code-1.svg" alt="laravelphp"
                                          style="width: 6rem;" class=" opacity-75">
                              </div>
                        </div>
                        <div class="col-md text-center">
                              <div class="text-secondary">
                                    <!-- Logo Laravel SVG -->
                                    <img src="/assets/image/php-icon.svg" alt="laravelphp" style="width: 10rem;"
                                          class=" opacity-75">
                              </div>
                        </div>
                        <div class="col-md text-center">
                              <div class="text-secondary">
                                    <!-- Logo Laravel SVG -->
                                    <img src="/assets/image/golang-1.svg" alt="codeigniterphp" style="width: 10rem;"
                                          class=" opacity-75">
                              </div>
                        </div>
                        <div class="col-md text-center">
                              <div class="text-secondary">
                                    <!-- Logo Laravel SVG -->
                                    <img src="/assets/image/python-5.svg" alt="codeigniterphp" style="width: 5rem;"
                                          class=" opacity-75">
                              </div>
                        </div>
                        <div class="col-md text-center">
                              <div class="text-secondary">
                                    <!-- Logo Laravel SVG -->
                                    <img src="/assets/image/java-14.svg" alt="codeigniterphp" style="width: 5rem;"
                                          class=" opacity-75">
                              </div>
                        </div>
                  </div>
            </div>

            <!-- Content Intro End -->

            <!-- Content Projects Start -->
            <div class="section row justify-content-center align-items-center gap-5" id="projects">
                  <div class="text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="1000"
                        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                        data-aos-once="false">
                        <h1>Latest Projects</h1>
                  </div>
                  <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
                        data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="false">
                        <img src="/assets/image/landpage_pytricity.png" class="card-img-top" alt="pytricity_project">
                        <div class="card-body">
                              <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                                    Pytricity
                              </p>
                              <p class="card-text mb-3">
                                    Pembayaran Listrik Pasca Bayar (PPOB)
                              </p>
                        </div>
                  </div>
                  <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
                        data-aos-offset="0" data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="false">
                        <img src="/assets/image/dashboard_inven.png" class="card-img-top" alt="pytricity_project">
                        <div class="card-body">
                              <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                                    Inven
                              </p>
                              <p class="card-text mb-3">
                                    Sistem Inventaris Barang
                              </p>
                        </div>
                  </div>
                  <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
                        data-aos-offset="0" data-aos-delay="400" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="false">
                        <img src="/assets/image/landpage_bkk.png" class="card-img-top" alt="pytricity_project">
                        <div class="card-body">
                              <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                                    BKKOne
                              </p>
                              <p class="card-text mb-3">
                                    Bursa Kerja Kursus SMK Negeri 1 Kota Bekasi
                              </p>
                        </div>
                  </div>
                  <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
                        data-aos-offset="0" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="false">
                        <img src="/assets/image/profile_instagramclone.png" class="card-img-top"
                              alt="pytricity_project">
                        <div class="card-body">
                              <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                                    InstagramClone
                              </p>
                              <p class="card-text mb-3">
                                    Sosial Media baru seperti Instagram
                              </p>
                        </div>
                  </div>
                  <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
                        data-aos-offset="0" data-aos-delay="600" data-aos-duration="1000" data-aos-easing="ease-in-out"
                        data-aos-mirror="true" data-aos-once="false">
                        <img src="/assets/image/rekammedis_app.png" class="card-img-top" alt="pytricity_project">
                        <div class="card-body">
                              <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                                    Hospital Medical Records
                              </p>
                              <p class="card-text mb-3">
                                    Sistem Pengelola Rekam Medis pada Rumah Sakit
                              </p>
                        </div>
                  </div>
            </div>
            <!-- Content Projects End -->

            <!-- Content Contact Me Start -->
            <div class="section d-flex flex-column gap-5 rounded" id="contact">
                  <div class="row my-5 d-flex justify-content-center">
                        <div class="col-md text-center">
                              <button class="btn btn-outline-primary">
                                    <a href="https://www.linkedin.com/in/ahmadzkh/" target="_blank"
                                          class=" text-decoration-none">
                                          <i class="bi bi-linkedin text-secondary" style="font-size: 2rem;">
                                                <span class="mx-1 text-secondary">Linkedin</span>
                                          </i>
                                    </a>
                              </button>
                        </div>
                        <div class="col-md text-center">
                              <button class="btn btn-outline-primary">
                                    <a href="https://www.instagram.com/ahmadzkh_/" target="_blank"
                                          class=" text-decoration-none">
                                          <i class="bi bi-instagram text-secondary" style="font-size: 2rem;">
                                                <span class="mx-1 text-secondary">Instagram</span>
                                          </i>
                                    </a>
                              </button>
                        </div>
                        <div class="col-md text-center">
                              <button class="btn btn-outline-primary">
                                    <a href="https://x.com/ahmadzkh_/" target="_blank" class=" text-decoration-none">
                                          <i class="bi bi-twitter text-secondary" style="font-size: 2rem;">
                                                <span class="mx-1 text-secondary">Twitter</span>
                                          </i>
                                    </a>
                              </button>
                        </div>
                        <div class="col-md text-center">
                              <button class="btn btn-outline-primary">
                                    <a href="https://www.facebook.com/zaky.humami/" target="_blank"
                                          class=" text-decoration-none">
                                          <i class="bi bi-facebook text-secondary" style="font-size: 2rem;">
                                                <span class="mx-1 text-secondary">Facebook</span>
                                          </i>
                                    </a>
                              </button>
                        </div>
                  </div>
                  <div class="row d-flex">
                        <h1 class="text-center mb-5">Contact Me</h1>
                        <div class="d-flex justify-content-center">
                              <form action="/submit" method="post" class="w-50">
                                    <div class="mb-4">
                                          <label for="name" class="form-label">Name</label>
                                          <input type="text" id="name" name="name" class="form-control"
                                                placeholder="Masukkan nama anda" required>
                                    </div>
                                    <div class="mb-4">
                                          <label for="email" class="form-label">Email</label>
                                          <input type="email" id="email" name="email" class="form-control"
                                                placeholder="Masukkan alamat email anda" required>
                                    </div>
                                    <div class="mb-4">
                                          <label for="message" class="form-label">Message</label>
                                          <textarea id="message" name="message" class="form-control" rows="5"
                                                placeholder="Masukkan pesan anda" required></textarea>
                                    </div>
                                    <div class="text-center">
                                          <button type="submit" class="btn btn-outline-primary w-100 p-3 my-3">Submit <i
                                                      class="bi bi-send mx-1"></i></button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>


            <!-- Content Contact Me End-->

            <!-- Content Skills Start -->
            <!-- <div class="section row justify-content-center align-items-center gap-5" id="skills">
                        <div class="title text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="1000"
                              data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                              data-aos-once="false">
                              <h1>Skills</h1>
                        </div>
                        <div class="row justify-content-between align-items-center">
                              <div class="col-md-5">
                                    <div class="web row mb-3 justify-content-between align-items-center"
                                          data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false">
                                          <div class="col-md-6">
                                                <h1 class="h5 py-2 m-0 g-0">
                                                      Web Development: HTML, CSS, Javascript
                                                </h1>
                                          </div>
                                          <div class="eff col-md-5">
                                                <div class="progress">
                                                      <div class="progress-bar" role="progressbar" aria-label="web"
                                                            style="width: 98%" aria-valuenow="25" aria-valuemin="0"
                                                            aria-valuemax="100">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="database row mb-3 justify-content-between align-items-center"
                                          data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false">
                                          <div class="col-md">
                                                <h1 class="h5 py-2 m-0 g-0">
                                                      Database Management: SQL, MongoDB, Oracle
                                                </h1>
                                          </div>
                                          <div class="eff col-md-5">
                                                <div class="progress">
                                                      <div class="progress-bar" role="progressbar" aria-label="database"
                                                            style="width: 95%" aria-valuenow="25" aria-valuemin="0"
                                                            aria-valuemax="100">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="program row mb-3 justify-content-center align-items-center"
                                          data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false">
                                          <div class="col-md">
                                                <h1 class="h5 py-2 m-0 g-0">
                                                      Programming Language: Java , Python, C++
                                                </h1>
                                          </div>
                                          <div class="eff col-md-5">
                                                <div class="progress">
                                                      <div class="progress-bar" role="progressbar" aria-label="program"
                                                            style="width: 85%" aria-valuenow="25" aria-valuemin="0"
                                                            aria-valuemax="100">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="git row mb-3 justify-content-center align-items-center"
                                          data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false">
                                          <div class="col-md">
                                                <h1 class="h5 py-2 m-0 g-0">
                                                      Version Control (e.g., Git)
                                                </h1>
                                          </div>
                                          <div class="eff col-md-5">
                                                <div class="progress">
                                                      <div class="progress-bar" role="progressbar" aria-label="git"
                                                            style="width: 75%" aria-valuenow="25" aria-valuemin="0"
                                                            aria-valuemax="100">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-5">
                                    <div class="text-center mb-3" data-aos="fade-right" data-aos-offset="0"
                                          data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
                                          data-aos-mirror="true" data-aos-once="false">
                                          <h1 class="h5 py-2 m-0 g-0">Other Skills</h1>
                                    </div>
                                    <div class="photoshop row mb-3 justify-content-center align-items-center"
                                          data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false">
                                          <div class="col-md">
                                                <h1 class="h5 py-2 m-0 g-0">
                                                      Adobe Photoshop
                                                </h1>
                                          </div>
                                          <div class="eff col-md-5">
                                                <div class="progress">
                                                      <div class="progress-bar" role="progressbar"
                                                            aria-label="photoshop" style="width: 73%" aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="illustrator row mb-3 justify-content-center align-items-center"
                                          data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false">
                                          <div class="col-md">
                                                <h1 class="h5 py-2 m-0 g-0">
                                                      Adobe Illustrator
                                                </h1>
                                          </div>
                                          <div class="eff col-md-5">
                                                <div class="progress">
                                                      <div class="progress-bar" role="progressbar"
                                                            aria-label="illustrator" style="width: 70%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="premierpro row mb-3 justify-content-center align-items-center"
                                          data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                          data-aos-once="false">
                                          <div class="col-md">
                                                <h1 class="h5 py-2 m-0 g-0">
                                                      Adobe Premier Pro
                                                </h1>
                                          </div>
                                          <div class="eff col-md-5">
                                                <div class="progress">
                                                      <div class="progress-bar" role="progressbar"
                                                            aria-label="premierpro" style="width: 75%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="title text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="1000"
                              data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                              data-aos-once="false">
                              <h1>Communications</h1>
                        </div>
                        <div class="row my-5 justify-content-between align-items-center">
                              <div class="indonesia col-md-5 row mb-3 justify-content-center align-items-center"
                                    data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                    data-aos-once="false">
                                    <div class="col-md">
                                          <h1 class="h5 py-2 m-0 g-0">
                                                Bahasa Indonesia
                                          </h1>
                                    </div>
                                    <div class="eff col-md-5">
                                          <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-label="indonesia"
                                                      style="width: 90%" aria-valuenow="25" aria-valuemin="0"
                                                      aria-valuemax="100">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="english col-md-5 row mb-3 justify-content-center align-items-center"
                                    data-aos="fade-right" data-aos-offset="0" data-aos-delay="200"
                                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                    data-aos-once="false">
                                    <div class="col-md">
                                          <h1 class="h5 py-2 m-0 g-0">
                                                English
                                          </h1>
                                    </div>
                                    <div class="eff col-md-5">
                                          <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-label="english"
                                                      style="width: 70%" aria-valuenow="25" aria-valuemin="0"
                                                      aria-valuemax="100">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div> -->
            <!-- Content Skills End -->

            <!-- Content Certificates Start -->
            <!-- <div class="tiga justify-content-center align-items-center gap-5" id="certif">
                        <div class="title text-center mb-5" data-aos="fade" data-aos-offset="0" data-aos-delay="1000"
                              data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                              data-aos-once="false">
                              <h1>Certificate</h1>
                        </div>
                        <div class="row mb-5 justify-content-center align-items-center left">
                              <div class="text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="800"
                                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                    data-aos-once="false">
                                    <h1 class="h5 mb-3 fw-light">Competition</h1>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/E-SERTIFIKAT HACKATHON BPK 3022021-2.png"
                                          class="card-img-top" alt="hackaton">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Commemorate the 74th Anniversary of BPK RI
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/E-SERTIFIKAT HACKATHON BPK 3022021-2.png"
                                          class="card-img-top" alt="digitalsiswa">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Digital Siswa
                                          </p>
                                    </div>
                              </div>
                        </div>
                        <div class="row mb-5 justify-content-center align-items-center">
                              <div class="text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="800"
                                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                    data-aos-once="false">
                                    <h1 class="h5 mb-3 fw-light">Dicoding Course</h1>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/Python Dicoding Indonesia E-Certificate.png"
                                          class="card-img-top" alt="python">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Memulai Pemrograman Dengan Python
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/AWS Dicoding Indonesia E-Certificate.PNG"
                                          class="card-img-top" alt="aws">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Cloud Practitioner Essentials (Belajar Dasar AWS Cloud)
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/Dicoding Belajar Dasar Pemrograman Javascript.png"
                                          class="card-img-top" alt="javascript">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Belajar Dasar Pemrograman Javascript
                                          </p>
                                    </div>
                              </div>
                        </div>
                        <div class="row mb-5 justify-content-center align-items-center">
                              <div class="text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="800"
                                    data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                                    data-aos-once="false">
                                    <h1 class="h5 mb-3 fw-light">Progate Course</h1>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/Command Line Progate E-Certificate.png"
                                          class="card-img-top" alt="cmd">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus Command Line
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/HTML&CSS Progate E-Certificate.png"
                                          class="card-img-top" alt="html">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus HTML & CSS
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/JavaScript Progate E-Certificate.png"
                                          class="card-img-top" alt="cmd">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus JavaScript
                                          </p>
                                    </div>
                              </div>
                        </div>
                        <div class="row mb-5 justify-content-center align-items-center">
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/SASS Progate E-Certificate.png"
                                          class="card-img-top" alt="sass">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus SASS
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/Git Progate E-Certificate.png"
                                          class="card-img-top" alt="git">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus Git
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/Python Progate E-Certificate.png"
                                          class="card-img-top" alt="python">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus Python
                                          </p>
                                    </div>
                              </div>
                        </div>
                        <div class="row mb-5 justify-content-center align-items-center">
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/React Progate E-Certificate.png"
                                          class="card-img-top" alt="react">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus React
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/PHP Progate E-Certificate.png"
                                          class="card-img-top" alt="php">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Kursus PHP
                                          </p>
                                    </div>
                              </div>
                              <div class="card col-md-4 bg-dark p-0 mx-2 g-0" style="width: 500px;" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/Ahmad Zaky Humami E-Certificate Progate.jpg"
                                          class="card-img-top" alt="python">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Pelatihan Coding secara Daring bersama Progate
                                          </p>
                                    </div>
                              </div>
                        </div>
                  </div> -->
            <!-- Content Certificates End -->

            <!-- Content Resume Start -->
            <!-- <div class="tiga justify-content-center align-items-center gap-5" id="resume">
                        <div class="title text-center mb-5" data-aos="fade" data-aos-offset="0" data-aos-delay="1000"
                              data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
                              data-aos-once="false">
                              <h1>Resume</h1>
                        </div>
                        <div class="row mb-5 justify-content-around align-items-top">
                              <div class="card col-md-5 glass bg-dark p-0 m-0 g-0" data-aos="fade-down"
                                    data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000"
                                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
                                    <img src="/assets/image/E-Certificate/CV_AhmadZakyHumami.png" class="card-img-top"
                                          alt="hackaton">
                                    <div class="card-body">
                                          <p class="card-text text-center">
                                                Resume as Software Developer
                                          </p>
                                    </div>
                              </div>
                              <div class="col-md-5">
                                    <div class="row">
                                          <div class="text-center" data-aos="fade" data-aos-offset="0"
                                                data-aos-delay="1000" data-aos-duration="1000"
                                                data-aos-easing="ease-in-out" data-aos-mirror="true"
                                                data-aos-once="false">
                                                <h1 class="h5 mb-3 fw-light">Gallery</h1>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="card bg-dark mb-1" style="width: 250px;"
                                                      data-aos="fade-down" data-aos-offset="0" data-aos-delay="200"
                                                      data-aos-duration="1000" data-aos-easing="ease-in-out"
                                                      data-aos-mirror="true" data-aos-once="false">
                                                      <img src="/assets/image/img1.jpg" class="card-img gallery-item"
                                                            alt="">
                                                </div>
                                                <div class="card bg-dark mb-1" style="width: 250px;"
                                                      data-aos="fade-down" data-aos-offset="0" data-aos-delay="300"
                                                      data-aos-duration="1000" data-aos-easing="ease-in-out"
                                                      data-aos-mirror="true" data-aos-once="false">
                                                      <img src="/assets/image/img6.jpg" class="card-img gallery-item"
                                                            alt="">
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="card bg-dark mb-1" style="width: 250px;"
                                                      data-aos="fade-down" data-aos-offset="0" data-aos-delay="400"
                                                      data-aos-duration="1000" data-aos-easing="ease-in-out"
                                                      data-aos-mirror="true" data-aos-once="false">
                                                      <img src="/assets/image/img2.jpg" class="card-img gallery-item"
                                                            alt="">
                                                </div>
                                                <div class="card bg-dark mb-1" style="width: 250px;"
                                                      data-aos="fade-down" data-aos-offset="0" data-aos-delay="500"
                                                      data-aos-duration="1000" data-aos-easing="ease-in-out"
                                                      data-aos-mirror="true" data-aos-once="false">
                                                      <img src="/assets/image/img5.jpg" class="card-img gallery-item"
                                                            alt="">
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="card bg-dark mb-1" style="width: 250px;"
                                                      data-aos="fade-down" data-aos-offset="0" data-aos-delay="600"
                                                      data-aos-duration="1000" data-aos-easing="ease-in-out"
                                                      data-aos-mirror="true" data-aos-once="false">
                                                      <img src="/assets/image/img3.jpg" class="card-img gallery-item"
                                                            alt="">
                                                </div>
                                                <div class="card bg-dark mb-1" style="width: 250px;"
                                                      data-aos="fade-down" data-aos-offset="0" data-aos-delay="700"
                                                      data-aos-duration="1000" data-aos-easing="ease-in-out"
                                                      data-aos-mirror="true" data-aos-once="false">
                                                      <img src="/assets/image/img4.jpg" class="card-img gallery-item"
                                                            alt="">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div> -->
            <!-- Content Resume End -->
      </div>
      <!-- Content End -->
</main>

{{ template "footer" }}