{{ define "projects" }}
<!-- Content Projects Start -->
<div class="section row justify-content-center align-items-center gap-5" id="projects">
      <div class="text-center" data-aos="fade" data-aos-offset="0" data-aos-delay="1000" data-aos-duration="1000"
            data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="true">
            <h1>Latest Projects</h1>
      </div>
      <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
            data-aos-offset="0" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-mirror="true" data-aos-once="true">
            <img src="{{ .project1 }}" class="card-img-top" alt="pytricity_project">
            <div class="card-body">
                  <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                        Pytricity
                  </p>
                  <p class="card-text mb-3">
                        Pembayaran Listrik Pasca Bayar (PPOB)
                  </p>
            </div>
      </div>
      <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
            data-aos-offset="0" data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-mirror="true" data-aos-once="true">
            <img src="{{ .project2 }}" class="card-img-top" alt="pytricity_project">
            <div class="card-body">
                  <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                        Inven
                  </p>
                  <p class="card-text mb-3">
                        Sistem Inventaris Barang
                  </p>
            </div>
      </div>
      <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
            data-aos-offset="0" data-aos-delay="400" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-mirror="true" data-aos-once="true">
            <img src="{{ .project3 }}" class="card-img-top" alt="pytricity_project">
            <div class="card-body">
                  <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                        BKKOne
                  </p>
                  <p class="card-text mb-3">
                        Bursa Kerja Kursus SMK Negeri 1 Kota Bekasi
                  </p>
            </div>
      </div>
      <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
            data-aos-offset="0" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-mirror="true" data-aos-once="true">
            <img src="{{ .project4 }}" class="card-img-top" alt="pytricity_project">
            <div class="card-body">
                  <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                        InstagramClone
                  </p>
                  <p class="card-text mb-3">
                        Sosial Media baru seperti Instagram
                  </p>
            </div>
      </div>
      <div class="card shadow text-white bg-dark p-0 m-0 g-0" style="width: 500px;" data-aos="fade-down"
            data-aos-offset="0" data-aos-delay="600" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-mirror="true" data-aos-once="true">
            <img src="{{ .project5 }}" class="card-img-top" alt="pytricity_project">
            <div class="card-body">
                  <p class="card-title fw-bolder my-3" style="font-size: 1.2rem;">
                        Hospital Medical Records
                  </p>
                  <p class="card-text mb-3">
                        Sistem Pengelola Rekam Medis pada Rumah Sakit
                  </p>
            </div>
      </div>
</div>
<!-- Content Projects End -->
{{ end }}